@for $i in (abs, rel, fix) {
    .#{$i[0]} {
        position: $i[1];
    }
}

@for $j in (i, ib, b, n, f, 'if', g, ig) {
    .d#{$j[0]} {
        display: $j[1];
    }
}

.vm {
    vertical-align: middle;
}

/* // ==================================== */

$body-bg: #24282f;

 /* ==================================== */

body {
    background: $body-bg;
    font-family: 'Alegreya Sans';
}

.wrapper {
    padding: 15px;
}

h2 {
    @extend .rel;
    @extend .vm;
    padding: 10px;
    padding-left: 25px;
    color: #ccc;
    margin: 0;

    .strong {
        @extend .vm;
        @extend .rel;
        z-index: 2;
        background: $body-bg;
        padding: 4px 8px;
    }

    span {
        @extend .vm;
        font-size: 0.7em;
        color: #aaa;
        margin-left: 10px;
    }

    &:after {
        @extend .abs;
        content: '';
        z-index: 1;
        bottom: 50%;
        margin-bottom: -2px;
        height: 2px;
        left: 0;
        right: 0;
        background: lighten($body-bg, 10%);
    }
}

.cards {
    @extend .df;
    flex-flow: row wrap;

    .card {
        @extend .rel;
        margin: 20px;
        width: 180px;
        height: 270px;
        overflow: hidden;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
        transform-origin: center top;
        transform-style: preserve-3d;
        transform: translateZ(0);
        transition: 0.3s;

        .img {
            width: 100%;
            min-height: 100%;
        }

        .figcaption {
            @extend .abs;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
            padding-bottom: 10px;
            font-size: 20px;
            background: none;
            color: #fff;
            transform: translateY(100%);
            transition: 0.3s;
        }

        &:after {
            @extend .abs;
            content: '';
            z-index: 10;
            width: 200%;
            height: 100%;
            top: -90%;
            left: -20px;
            opacity: 0.1;
            transform: rotate(45deg);
            background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, 0.5));
            transition: 0.3s;
        }

         :focus and :active just added for some Android versions to simulate hover effect
        &:hover, &:focus, &:active {
            box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
            transform: translateY(-3px) scale(1.05) rotateX(15deg);

            .figcaption {
                transform: none;
            }

            &:after {
                transform: rotate(25deg);
                top: -40%;
                opacity: 0.15;
            }
        }
    }
    }